# Flutter & Dart
.dart_tool/
.packages
build/
.pub-cache/
.idea/
.vscode/
flutter_*.png

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
Pods/
Runner.xcworkspace/
xcuserdata/

# Android
.android/
gradle/
*.iml
*.keystore

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/runner/

# Linux
linux/flutter/

# Web
web/.dart_tool/

# Others
pubspec.lock
